*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav, .sec-1-cont, .sec-2-cont, 
.sec-3-cont, .ft-cnt{
    margin: 0 5rem;
}

.nav-cont{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.logo{
    width: 8rem;
    display: flex;
    margin-top: .15rem;
}

.links{
    margin-left: auto;
    float: right;
}

.links ul{
    display: flex;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    gap: 3rem;
}

.links a{
    text-decoration: none;
    color: #191919;
}

.links a:hover{
    text-decoration: underline;
}

h1, h2, h3{
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    line-height: 3.4rem;
}

.sect-1, .sect-2{
    margin-top: 6rem;
}

.sec-1-cont, .sec-2-cont{
    display: flex;
    gap: 8rem;
    padding: 9rem 0;
}

.soc-left{
    gap: .95rem;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.soc-left p{
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

.soc-right{
    display: flex;
    justify-content: center;
}

.soc-right img{
    width: 38rem;
}

.form-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}


.form-1 input{
    width: 18rem;
    height: 2.3rem;
    padding: 0 .9rem;
    border-radius: .2rem;
    margin-right: .5rem;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #bfbfbf;
}

.form-1 button, .form-2 button{
    width: 10.8rem;
    height: 2.3rem;
    background-color: #3065f8;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    border-radius: .2rem;
    border: none;
}

.form-1 button:hover, .form-2 button:hover{
    background-color: #6281d5;
    cursor: pointer;
}

input:focus{
    outline: none;
}

.sect-2{
    background-image:url(img/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stc-right img{
    width: 34rem;
}

.stc-left{
    display: flex;  
    flex-direction: column;
    gap: 2.5rem;    
}

.stc-lft-tp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stc-lft-tp p{
    width: 90%;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

.wrks-btn{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #599e8f;
    justify-content: center;
}

.wrks-btn a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #599E8F;
}

.wrks-btn:hover{
    cursor: pointer;
    opacity: 50%;
}

.testimonial{
    display: flex;
    flex-direction: column;
    padding: 1.7rem 1.7rem;
    width: 22rem;
    border-radius: .3rem;
    background-color: #fff;
    box-shadow: 0.063rem 0.063rem 0.625rem #bfbfbf54;
}

.testimonial img{
    width: 1rem;
    margin-bottom: .65rem;
}

.testimonial p{
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: .65rem;
    line-height: 1.5rem;
}

.test-usr{
    display: flex;
    gap: .4rem;
    align-items: center;
}

.test-usr img{
    width: 2rem;
    border-radius: 100%;
}

.test-usr h6{
    font-family: "Raleway", sans-serif;
}

.test-usr p{
    font-size: 0.625rem;
}

.sect-3{
    background-color:#585989;
}

.sec-3-cont{
    display: flex;
    flex-direction: row;
    padding: 6rem 0;
    gap: 16rem;
    flex-wrap: wrap;
}

.strc-left{
    width: 39%;
}

.strc-left h4{
    font-size: 1.6rem;
    font-family: "Raleway", sans-serif;
    color: #fff;
    margin-bottom: 1.25rem;
}

.strc-left p{
    font-size: 0.875rem;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.313rem;
}

.form-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-2 input{
    width: 27rem;
    height: 2.3rem;
    padding: 0 .9rem;
    border-radius: .2rem;
    margin-right: .5rem;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #bfbfbf;
}

input::-webkit-input-placeholder {
    color:  #bfbfbf;
    opacity: 0.5; 
}

footer{
    background-color: #070439;
    padding: 6rem 0;
}

.ft-cnt{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.ft-tp{
    margin-bottom: 1rem;
}

.ft-lnk0{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ft-rght{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.ft-btn{
    display: flex;
    flex-direction: row;
    gap: 13rem;
}

.ft-cnt p{
    font-size: 1rem;  
}

.phn, .eml{
    display: flex;
    gap: 1rem;
}

.phn p, .eml p{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

.ft-cnt a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #fff;
}

.ft-lnk1 ul, .ft-lnk2 ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    gap: 1rem;
}

.socials{
    display: flex;
    gap: 1rem;
}

.socials img{
    width: 2rem;
}

@media (max-width: 768px) {
    nav, .sec-1-cont, .sec-2-cont, 
    .sec-3-cont, .ft-cnt{
        margin: 0 1.5rem;
    }

    .logo img{
        width: 50%;
    }

    .links ul{
        gap: 1rem;
    }

    h1, h2, h3{
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.2rem;
    }

    .sec-1-cont{
        flex-direction: column-reverse;
        margin-top: 3rem;
        gap: 3rem;
        padding: 0 0;
    }

    .soc-right img{
        width: 100%;
    }

    .soc-left{
        margin-top: 0;
    }

    .soc-left p, .strc-left p{
        font-size: 1rem;
        text-align: center;
    }

    .form-1{
        gap: 1rem;
    }

    .form-1 input{
        gap: 2rem;
        width: 100%;
        margin-right: 0;
    }

    .form-1 button, .form-2 button{
        width: 100%;
    }

    .sect-2{
        background-image:url(img/bg-curve-mobile.svg);
    }

    .sec-2-cont{
        flex-direction: column-reverse;
        padding: 6.5rem 0;
        gap: 4rem;
    }

    .sec-3-cont{
        padding: 4rem 0;
        gap: 2rem;
        justify-content: center;
    }

    .strc-left, .strc-right{
        width: 100%;
    }

    .stc-right img{
        width: 100%;
    }

    .stc-lft-tp h1, .strc-left h4{
        font-size: 1.2rem;
        text-align: center;
    }

    .stc-lft-tp p{
        width: 100%;
    }

    .strc-right{
        width: 85%;
    }

    .wrks-btn-cnt{
        display: flex;
        justify-content: center;
    }

    .testimonial{
        width: 100%;
        gap: .5rem; 
    }

    .form-2{
        gap: .5rem;

    }

    .form-2 input{
        gap: 2rem;
        width: 100%;
        margin-right: 0;
    }

    .form-2 button{
        width: 100%;
    }


    .ft-btn{
        gap: 3rem;
        flex-direction: column;
    }

    footer {
        padding: 4rem 0 2rem;
    }

    .socials{
        justify-content: center;
    }

  }